
from WMCore.Configuration import Configuration
import os
config = Configuration()

config.section_("General")
config.General.requestName = "_REQUEST_"
config.General.workArea = "grid"
config.General.transferOutputs=True

config.section_("JobType")
config.JobType.pluginName = "Analysis"
config.JobType.psetName = "_PSET_"
config.JobType.disableAutomaticOutputCollection = True
config.JobType.outputFiles = ['%s.root'%config.General.requestName] 
config.JobType.outputFiles += ['%s.w%d.yoda'%(config.General.requestName,x) for x in xrange(0,282)]
config.JobType.pyCfgParams = [
			   'output=%s'%config.General.requestName,
			   'ueTune=CUEP8M2T4',
			   'photos=True',
			   'nFinal=2',
			   'doRivetScan=True',
			   'usePoolSource=True'
			   ]
config.section_("Data")
config.Data.inputDataset = "_DSET_"
config.Data.inputDBS = "global"
config.Data.splitting = "EventBased" #"EventAwareLumiBased"
config.Data.unitsPerJob = 1000
config.Data.totalUnits = config.Data.unitsPerJob * 10
config.Data.publication = False
config.Data.ignoreLocality = False
config.Data.outLFNDirBase = '/store/group/phys_top/psilva/Wmass/%s'%config.General.requestName

config.section_("Site")
config.Site.storageSite = "T2_CH_CERN"
